<!-- <app-sidebar></app-sidebar> -->
<div class="wraper">
<mat-toolbar color="primary">
    <div class="container">
        <div class="row">
            <div class="col-sm-10">
                <button mat-icon-button class="example-icon" (click)="drawer.toggle()" aria-label="Example icon-button with menu icon">
                    <mat-icon>menu</mat-icon>
                </button>
            </div>
            <div class="col-sm-1 icon">
                <a routerLink="order">
                    <mat-icon [matBadge]="total$ | async" *ngIf="total$ | async" matBadgeColor="warn">shopping_cart</mat-icon>
                    <mat-icon *ngIf="!(total$ | async)" matBadgeColor="warn">shopping_cart</mat-icon>
                </a>
            </div>
            <div class="col-sm-1">
                <mat-slide-toggle [formControl]="toggleControl" class="mr-8"></mat-slide-toggle>
            </div>
        </div>
    </div>


</mat-toolbar>
<mat-drawer-container class="side-container" color="primary" autosize>
    <mat-drawer #drawer color="primary" class="sidenav" mode="side" style="margin-top: 0;border: none;background-color: rgb(59, 53, 53)">
    <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
    <ol class="sideNavList" color="primary">
        <li><a routerLink="/products"><mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon></a></li>
        <li><a routerLink="order"><mat-icon>shopping_basket</mat-icon></a></li>
        <li><a routerLink="/history"><mat-icon>card_giftcard</mat-icon></a></li>
        <li><a (click)="logOut()"><mat-icon>exit_to_app</mat-icon></a></li>
    </ol>
    </mat-drawer>
    <div class="sidenav-content" color="primary">
        <router-outlet></router-outlet>
    </div>
</mat-drawer-container>
</div>
