<p>history works!</p>
<div class="container">
    <div class="row">
        <mat-card *ngFor="let product of products" class="example-card" [ngClass]="{'succeded': product.status === 'succeeded', 'toConfirm': product.status !== 'succeeded' }">
          <div class="col-12"> 
              <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
              <mat-card-content>
                <h2>{{product.status}}</h2>
                <p>
                  The Shiba Inu is the smallest of the six original
                </p>
              </mat-card-content>
            </div>
            <div class="button">
              <button *ngIf="product.status !== 'succeeded'" [routerLink]="['/product/detail/', product.id]">	<mat-icon>card_membership</mat-icon></button>
              <button *ngIf="product.status === 'succeeded'"><mat-icon>check_circle</mat-icon></button>
            </div>
        </mat-card>

      </div>
  </div>