<div class="container">
    <div class="col">
        <div class="row">
          <mat-card *ngFor="let product of products" class="example-card">
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
              <h2>{{product.name}}</h2>
              <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button (click)="addProductCart(product)"><mat-icon>add_shopping_cart</mat-icon></button>
              <button mat-button [routerLink]="['/product/detail/', product.id]">See more...</button>
            </mat-card-actions>
          </mat-card>
        </div>
    </div>
</div>