.example-card {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 12px;
    /* max-width: 242px;
    max-height: 372px; */
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

  .mat-card-actions{
    text-align: center;
  }