<h1>Payments Works!</h1>
<div class="example-container">
  <form [formGroup]="stripeForm" (ngSubmit)="createToken()">
    <mat-form-field appearance="fill">
      <mat-label>Product Id</mat-label>
      <input matInput formControlName="id">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>{{product.name}}</mat-label>
      <input matInput formControlName="productName">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email">
    </mat-form-field>
    <br>
    <ngx-stripe-card
    [options]="cardOptions"
    [elementsOptions]="elementsOptions">
    </ngx-stripe-card>
  <mat-card-actions>
    <button mat-button>US$ {{product.amount}}</button>
  </mat-card-actions>
  </form>
</div>